In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Online Retail.csv')
print(df.columns)
print('done read dataset')

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')
done read dataset

In [5]:
products = df[['StockCode','Description']].copy()
products.head()
products = products.groupby(products['StockCode']).filter(lambda x : x.notnull().values.all())
print('done creating product dictionary')

products.head()

import pickle as pk
userRfmTable = pk.load(open('/content/drive/My Drive/userRfmTable (1).pk','rb'))

done creating product dictionary

In [0]:
userRfmTable

productsPerUser = df

In [7]:
productsPerUser = productsPerUser[productsPerUser['Quantity'] > 0]
productsPerUser = productsPerUser[productsPerUser['UnitPrice'] > 0]
print(productsPerUser.head())
productsPerUser = productsPerUser.groupby(['CustomerID','StockCode','InvoiceNo'])['Quantity'].sum().reset_index()
productsPerUser

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

        CustomerID StockCode InvoiceNo  Quantity
0          12346.0     23166    541431     74215
1          12347.0     16008    549222        24
2          12347.0     17021    556201        36
3          12347.0     20665    549222         6
4          12347.0     20719    542237        10
5          12347.0     20719    562032        10
6          12347.0     20719    573511        10
7          12347.0     20719    581180        10
8          12347.0     20780    537626        12
9          12347.0     20782    537626         6
10         12347.0     20966    542237        10
11         12347.0     21035    542237         6
12         12347.0     21041    542237         6
13         12347.0     21041    549222         6
14         12347.0     21064    537626         6
15         12347.0     21064    581180        24
16         12347.0     21154    542237        10
17         12347.0     21171    537626        12
18         12347.0     21265    573511        12
19         12347.0     21265    581180        12
20         12347.0     21578    562032         6
21         12347.0     21636    573511        12
22         12347.0     21731    537626        12
23         12347.0     21731    542237        12
24         12347.0     21731    549222        12
25         12347.0     21731    573511        12
26         12347.0     21731    581180        24
27         12347.0     21791    549222        12
28         12347.0     21791    562032        24
29         12347.0     21791    573511        12
...            ...       ...       ...       ...
387811     18287.0     23078    554065        24
387812     18287.0     23078    570715        24
387813     18287.0     23223    570715        48
387814     18287.0     23264    570715        12
387815     18287.0     23264    573167        36
387816     18287.0     23267    570715        24
387817     18287.0     23269    570715        36
387818     18287.0     23272    570715        12
387819     18287.0     23274    570715        12
387820     18287.0     23310    570715        36
387821     18287.0     23376    570715        48
387822     18287.0     23378    570715        24
387823     18287.0     23445    570715        20
387824     18287.0     35967    570715        36
387825     18287.0     47421    554065        24
387826     18287.0     47421    570715        24
387827     18287.0     47422    570715        24
387828     18287.0    72349B    554065        12
387829     18287.0    72349B    570715        48
387830     18287.0    72351A    570715        24
387831     18287.0    72351B    570715        24
387832     18287.0    84507C    554065         6
387833     18287.0     84584    554065         6
387834     18287.0     84920    554065         4
387835     18287.0    85039A    554065        48
387836     18287.0    85039A    570715        48
387837     18287.0    85039B    554065        72
387838     18287.0    85039B    570715        48
387839     18287.0    85040A    554065        48
387840     18287.0     85173    570715        48

[387841 rows x 4 columns]

In [8]:
productsPerUser['StockCode'].sample(n=1)

userClusterStockTable = userRfmTable.merge(productsPerUser, on='CustomerID',how='left')
#userRfmTable
userClusterStockTable['cluster'].value_counts()

0    347180
1     30038
3      8116
2      2507
Name: cluster, dtype: int64

In [9]:
print(userClusterStockTable.head())
userClusterStockTable = userClusterStockTable[['StockCode','cluster','clusterSub','InvoiceNo','Quantity']]#[['Quantity']].sum().reset_index()
print(userClusterStockTable.describe())
testCluster = 0
itemTest = '23194'

invoices = userClusterStockTable[userClusterStockTable['cluster']==testCluster]['InvoiceNo']

recomendedItems = userClusterStockTable[userClusterStockTable['InvoiceNo'].isin(invoices)].groupby(['StockCode'])['Quantity'].sum().sort_values(ascending=False)#.drop(itemTest)
print(recomendedItems.head())
products= products.drop_duplicates()
#print(products[products['StockCode']==itemTest])
products[products['StockCode'].isin(recomendedItems.head().index)].head()
print(products[products['StockCode'].isin(recomendedItems.head().index)].head())
import pickle as pk

pk.dump(userClusterStockTable,open('userClusterStockTable.pk','wb'))
pk.dump(products,open('products.pk','wb'))

   CustomerID  recency  frequency  ...  StockCode  InvoiceNo  Quantity
0     12346.0      325          1  ...      23166     541431     74215
1     12347.0        2        182  ...      16008     549222        24
2     12347.0        2        182  ...      17021     556201        36
3     12347.0        2        182  ...      20665     549222         6
4     12347.0        2        182  ...      20719     542237        10

[5 rows x 9 columns]
             cluster     clusterSub       Quantity
count  387841.000000  347180.000000  387841.000000
mean        0.153156       1.269670      13.324563
std         0.517865       0.679171     181.672806
min         0.000000       0.000000       1.000000
25%         0.000000       1.000000       2.000000
50%         0.000000       1.000000       6.000000
75%         0.000000       2.000000      12.000000
max         3.000000       2.000000   80995.000000
StockCode
84077     40680
22197     27248
84879     27111
85099B    25528
22616     24107
Name: Quantity, dtype: int64
     StockCode                        Description
9        84879      ASSORTED COLOUR BIRD ORNAMENT
177     85099B            JUMBO BAG RED RETROSPOT
221      22197               SMALL POPCORN HOLDER
649      22616         PACK OF 12 LONDON TISSUES
3259     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS

In [32]:
products.head()
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel

tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(products['Description'])

cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)
tmp_product = products
#tmp_product['tfidf'] = tf.fit_transform(products['Description'])
#tmp_product = products[products['StockCode'].isin(recomendedItems.head().index)]
#tmp_product['tfidf']=tf.fit_transform(tmp_product)
tmp_product
print(tf.fit_transform(products['Description']).shape)
print(tf.fit_transform(products['Description']))
print(products.head())

(3688, 13046)
<bound method _cs_matrix.toarray of <3688x13046 sparse matrix of type '<class 'numpy.float64'>'
	with 31698 stored elements in Compressed Sparse Row format>>
  StockCode  ...                                              tfidf
0    85123A  ...    (0, 5816)\t0.32494653114901045\n  (0, 5655)\...
1     71053  ...    (0, 5816)\t0.32494653114901045\n  (0, 5655)\...
5     22752  ...    (0, 5816)\t0.32494653114901045\n  (0, 5655)\...
6     21730  ...    (0, 5816)\t0.32494653114901045\n  (0, 5655)\...
9     84879  ...    (0, 5816)\t0.32494653114901045\n  (0, 5655)\...

[5 rows x 3 columns]